@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #191D23;
  margin-left: auto;
  margin-right: auto;

}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

